@import '../../../main'
@import '../../../common/ss-preview'

main
	> article
		> header
			h1
				display: block;
				margin: 16px;
				font-size: 1.5em;
				font-weight: normal;
				color: #66757f;
				text-align: center;

		> .main
			padding: 0 16px;

			> .sss
				> .ss
					ss()
