extend ../../../ui

block title
	| SS検索

block meta
	meta(name='description', content='お気に入りのSSを見つけよう')

block contents
	main
		img(src= config.urls.resources + '/search.png', alt='SSの検索')
		form#search(action= config.urls.search, method='get', role='search')
			div#textarea
				input#input(type='search', name='q', placeholder='キーワードを入力', autofocus, required)
				i.fa.fa-search
			div#buttons
				button(type='submit', name='search') 検索！
				button(type='submit', name='imfeelinglucky') I'm Feeling Lucky
