extend ../../../ui

block title
	| SS検索

block meta
	meta(name='description', content='お気に入りのSSを見つけよう')

block contents
	main
		img(src= config.urls.resources + '/search.png', alt='SSの検索')
		form#search(action= config.urls.search, method='get', role='search')
			div#textarea
				input#input(type='search', name='q', placeholder='キーワードを入力', autofocus, required)
				i.fa.fa-search
			div#buttons
				button(type='submit') 検索！
				button(type='submit', name='imfeelinglucky') I'm Feeling Lucky
		div.ad.
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- search-top -->
			<ins class="adsbygoogle"
			style="display:inline-block;width:468px;height:15px"
			data-ad-client="ca-pub-3738125028983387"
			data-ad-slot="9195067351"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
