extend ../../../main
include ../../../common/ss-preview

block title
	= q + ' - SSまとめ'

block meta
	- var summary = '「' + q + '」の検索結果';
	meta(name='description', content= summary)

block content
	article
		header
			h1
				b= q
				| の検索結果
		div.main
			div.sss
				each ss in sss
					+ss(ss)
