@import '../../ui'

html
	background: #F7F7F7;

main
	> article
		margin: 12px;
		border: solid 1px #e1e8ed;
		border-radius: 4px;
		background: #fff;

		> header
			padding: 28px 20px 0 20px;

			h1
				display: block;
				margin: 0 0 20px 8px;
				font-size: 1.2em;
				font-weight: normal;
				color: #66757f;

			> .info
				position: relative;
				color: #7f8488;
				background: #fff;
				border: solid 1px #e1e8ed;

				> .top
					position: relative;
					padding: 0 8px;

					> .separator
						margin: 0 8px;

					> span
						line-height: 28px;
						font-size: 0.9em;

					> .status
						position: absolute;
						bottom: 0;
						right: 0;
						color: #AAB8C2;

						> p
							display: inline-block;
							line-height: 28px;
							margin: 0;
							padding: 0 16px;
							border-left: solid 1px #e1e8ed;

							.count
								font-size: 0.9em;

							i
								margin-right: 6px;


				> .bottom
					padding: 4px 8px 12px 8px;
					border-top: solid 1px #e1e8ed;

					> .series
						display: inline-block;
						margin: 0 8px 0 0;
						font-size: 0.9em;

						> .caption
							display: inline;
							margin: 0;
							color: #a7aeb3;

						> .unknown
						> .title
							margin: 0 4px;

					> .characters
						display: inline-block;
						margin: 0 8px 0 0;
						font-size: 0.9em;

						> .caption
							display: inline;
							margin: 0;
							color: #a7aeb3;

						ul
							display: inline;
							margin: 0;
							padding: 0;
							list-style: none;

							li
								display: inline;
								margin: 0 4px;

				> .on-stage-ratio
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					overflow: hidden;
					white-space: nowrap;
					width: 100%;
					font-size: 0;

					> span
						display: inline-block;
						vertical-align: top;
						height: 8px;

		> .content

			> .ad
				padding: 0 16px;
				text-align: center;

			> .filter
				display: block;
				margin: 0;
				padding: 8px 32px;
				font-size: 0.9em;

				> .caption
					display: inline;
					margin-right: 4px;
					color: #806358;

					> i
						margin-right: 4px;

				> .mode
					margin: 0 4px;

					&.active
						font-weight: bold;

			> .posts
				> s-p
					display: block;
					padding: 0 20px;
					word-break: break-word;
					font-size: 1em;

					> s-h
						display: block;
						margin-bottom: 8px;

						a
							display: inline;
							margin-right: 8px;
							color: #715D56;

						h2
							display: inline;
							margin: 0 8px 0 0;
							font-size: 0.8em;
							font-weight: bold;
							color: #FF9693;

						time
							display: inline;
							margin-right: 8px;
							font-size: 0.7em;
							color: #B3A19B;

						b
							display: inline;
							opacity: 0.5;
							font-size: 0.6em;
							font-weight: normal;

					> s-b
						display: block;
						padding: 0 1em;
						margin-bottom: 2em;
						color: #806358;

						b
							font-weight: normal;


		> footer
			small
				word-break: break-all;

@media (max-width: 500px)
	html
		background: #fff;

	main
		> article
			margin: 0;
			border: none;

			> header
				padding: 22px 0 0 0;
				font-size: 0.9em;

				h1
					margin: 0 16px 20px 16px;
					font-size: 1em;

				> .info
					font-size: 0.9em;
					border-left: none;
					border-right: none;

					> .top
						> .status
							position: relative;
							left: -8px;
							width: calc(100% + 16px);
							border-top: solid 1px #e1e8ed;

			> .content
				margin: 0;

				> .ad
					padding: 0;

				> .filter
					font-size: 0.8em;

				> .posts
					> s-p
						padding: 0 12px;
						font-size: 0.8em;

						> s-h
							b
								font-size: 0.5em;

						> s-b
							padding: 0;
