@import '../../form'

main
	max-width: 800px;

	> .body
		> form
			float: left;
			width: 550px - 32px;

		> .separator
			display: block;
			float: left;
			width: 16px;
			margin: 0 24px;

		> .history
			float: left;
			width: 250px - 32px;

			h2
				display: block;
				margin: 0 0 16px 0;
				font-size: 1.1em;
				color: #666;

			ol
				display: block;
				margin: 0;
				padding: 0;
				list-style: none;

				li
					margin: 8px;

.group.series a
	font-size: 0.8em;

.group.gender label
	display: inline-block;
	padding: 8px;
