@import '../../../ui'

main
	display: block;

	> article
		color: #66757f;

		> header
			padding: 48px
			background: #f5f8fa;

			> h1
				display: block;
				margin: 0 auto;
				padding: 0;
				width: 100%;
				max-width: 1024px;
				font-size: 2em;
				font-weight: normal;

			> p
				display: block;
				margin: 0 auto;
				padding: 0;
				width: 100%;
				max-width: 1024px;

		> section
			margin: 64px;

			> header
				> h2
					display: block;
					margin: 0 auto;
					padding: 0;
					width: 100%;
					max-width: 1024px;
					font-size: 1.5em;
					font-weight: normal;

			> .body
				display: block;
				margin: 0 auto;
				padding: 0;
				width: 100%;
				max-width: 1024px;
