@import '../../../ui'
@import '../../../common/ss-preview'

#profile
	background: #F5F8FA;

	> .container
		display: block;
		width: 100%;
		max-width: 1024px;
		padding: 32px;
		margin: 0 auto;

		&:after
			content: "";
			display: block;
			clear: both;

		> img
			display: block;
			float: left;
			width: 256px;

		> .main
			box-sizing: border-box;
			float: left;
			width: calc(100% - 256px);
			padding: 0 32px;

			> header
				margin-bottom: 16px;

				> h1
					display: block;
					margin: 0;
					font-size: 2em;
					font-weight: normal;
					color: #66757f;

					> ruby
						> rt
							font-size: 30%;

				> .series
					display: block;
					margin: 0;
					padding: 0;
					list-style: none;
					font-size: 0.8em;
					opacity: 0.8;

					> li
						display: inline;
						margin: 0;
						padding: 0;

			> .body
				color: #66757f;

main
	display: block;

	> .sss
		display: block;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;

		> .ss
			ss()
