extend ../../../ui
include ../../../common/ss-preview

block title
	= character.name + ' - SSまとめ'

block meta
	- var summary = character.description;
	meta(name='keywords', content='SS, SSまとめ, ' + character.name + ', ' + character.aliases.join(','))
	meta(name='description', content= summary)
	meta(property='og:title', content=character.name)
	meta(property='og:type', content='article')
	meta(property='og:description', content= summary)
	meta(property='og:url', content= config.url)
	meta(property='og:image', content= config.urls.resources + '/logo.jpg')
	meta(property='og:site_name', content='SSまとめ')
	meta(property='twitter:card', content='summary')
	meta(property='twitter:site', content='@syuilo')
	meta(property='twitter:title', content=character.name)
	meta(property='twitter:description', content= summary)
	meta(property='twitter:image', content= config.urls.resources + '/logo.jpg')
	meta(property='twitter:url', content= config.url)

block contents
	main
		article#profile
			img.img(src= config.urls.image + '/character/' + character._id, alt='')
			header
				ul.series
					each series in character.series
						li: a(href= config.urls.series + '/' + series._id)= series.title
				h1
					if character.ruby == null
						ruby
							= character.name
							rt= character.kana
					else
						!= character.ruby
		div.main
			div.sss
				each ss in sss
					+ss(ss)
