extend ../../ui
include ../../common/ss-preview

block title
	| SSまとめ

block content
	article
		header
			a#logo(href= config.url, role='banner')
				img(src= config.urls.resources + '/logo.png', alt='ss matome')
		
		section.recent
			div.sss
				each ss in recentSS
					+ss(ss)
