article
	header
		h1
			| About
		p SSまとめについて
	section
		header
			h2 このサイトは何？
		div.body
			p SSまとめは、作品・ジャンルなど問わずSSをまとめるサービスです。
	section
		header
			h2 誰が運営しているの？
		div.body
			p syuiloという人です。
	section
		header
			h2 著作権などの問題があり、記事や画像を削除してほしい
		div.body
			p
				a(href='#contact') ご連絡
				| ください。適切に対処致します。
	section#contact
		header
			h2 Contact
		div.body
			dl
				dt E-Mail
				dd: img(src= config.urls.resources + '/syuilo-emailaddress.png', alt='i★syuilo.com (★を@に変えてね)')
