@import '../../main'
@import '../../common/ss-preview'

main
	> article
		> header
			h1
				display: block;
				margin: 16px;
				font-size: 1.5em;
				font-weight: normal;
				color: #66757f;
				text-align: center;

		> .main

			> .recent
				padding: 0 16px;

				> h2
					display: block;
					font-size: 1em;
					margin: 20px 0;
					color: #555;

				> .sss
					> .ss
						ss()
