extend ../../../ui
include ../../../common/ss-preview

block title
	= character.name + ' - SSまとめ'

block content
	article
		header
			h1
				= character.series.map(s => s.title).join('、')
				| の
				b= character.name
				| が登場するSS
		div.body
			div.sss
				each ss in sss
					+ss(ss)
