@import '../../../form'

#form
	.url
		input
			max-width: none;

	.caution
		display: inline-block;
		margin: 0;
		padding: 10px 0;
		position: absolute;
		left: 16px;
		color: #FF004A;

		i
			margin-right: 4px;
