@import '../../main'

main
	> article
		> .ss
			padding: 0 16px;

			&[data-is-favorited='false']
				> header
					.favorite
						color: #888;

						&:hover
							color: #777;

						&:active
							color: #666;

						&:disabled
							opacity: 0.7;

			&[data-is-favorited='true']
				> header
					.favorite
						color: #FF1358;

						&:hover
							color: #FF3E77;

						&:active
							color: #E60949;

						&:disabled
							opacity: 0.7;

			> header
				position: relative;

				&:hover
					> .read-later
						display: block;

					> .title > .favorite
						display: inline-block;

				> .title
					padding: 32px 16px 22px 16px;
					margin: 0;
					color: #66757f;
					//font-family: '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Meiryo, 'メイリオ', sans-serif;

					h1
						display: inline;
						margin: 0;
						font-size: 1.3em;
						font-weight: normal;

					.count
						display: inline;
						margin-left: 4px;
						opacity: 0.7;
						font-size: 1em;

						&:before
							content: '(';

						&:after
							content: ')';

					.favorite
						display: none;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						margin: 0 0 0 4px;
						font-size: 1em;
						border: none;
						background: transparent;
						box-shadow: none;
						transition: color 0.2s ease;
						cursor: pointer;

				> .info
					position: relative;
					color: #7f8488;
					background: #fff;
					border: solid 1px #e1e8ed;

					> .top
						position: relative;
						padding: 0 8px;

						> span
							line-height: 28px;
							font-size: 0.9em;

						> .status
							position: absolute;
							bottom: 0;
							right: 0;
							color: #AAB8C2;

							> p
								display: inline-block;
								line-height: 28px;
								margin: 0;
								padding: 0 16px;
								border-left: solid 1px #e1e8ed;

								.count
									font-size: 0.9em;

								i
									margin-right: 6px;


					> .bottom
						padding: 4px 8px 12px 8px;
						border-top: solid 1px #e1e8ed;

						> .series
							display: inline-block;
							margin: 0 8px 0 0;
							font-size: 0.9em;

							> .caption
								display: inline;
								margin: 0;
								color: #a7aeb3;

							> .unknown
							> .title
								margin: 0 4px;

						> .characters
							display: inline-block;
							margin: 0 8px 0 0;
							font-size: 0.9em;

							> .caption
								display: inline;
								margin: 0;
								color: #a7aeb3;

							ul
								display: inline;
								margin: 0;
								padding: 0;
								list-style: none;

								li
									display: inline;
									margin: 0 4px;

					> .on-stage-ratio
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						overflow: hidden;
						white-space: nowrap;
						width: 100%;
						font-size: 0;

						&:hover
							> a
								opacity: 1 !important;

						> a
							display: inline-block;
							vertical-align: top;
							height: 8px;

				> .read-later
					display: none;
					position: absolute;
					top: 20px;
					right: 0;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					margin: 0;
					padding: 0;
					width: 34px;
					height: 34px;
					font-size: 1.1em;
					line-height: 32px;
					border: 1px solid rgba(0, 0, 0, 0.1);
					border-radius: 2px;
					background-color: #f5f5f5;
					background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
					background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
					background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
					background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
					background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
					box-shadow: none;
					color: #666;
					cursor: pointer;

					&:hover
						background-color: #f8f8f8;
						background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
						background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
						background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
						background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
						background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
						border: 1px solid #c6c6c6;
						color: #555;

					&:active
						box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
						background: #f8f8f8;
						color: #444;

					&:disabled
						cursor: default;

					&.wait
						cursor: wait;
						opacity: 0.7;

			> .body
				position: relative;
				max-width: 800px;
				margin: 0 auto;
				font-family: 'Proxima Nova Reg', "FOT-スーラ Pro M", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;

				> .filter
					display: block;
					margin: 0;
					padding: 8px;
					font-size: 0.9em;

					> .caption
						display: inline;
						margin-right: 4px;
						color: #806358;

						> i
							margin-right: 4px;

					> .mode
						margin: 0 4px;

						&.active
							font-weight: bold;

				> .share
					display: block;
					position: absolute;
					top: 8px;
					right: 0;

					> span
						display: inline-block;
						margin: 0 8px 0 0;
						vertical-align: top;

						&.facebook
							> div
								> span
									vertical-align: top !important;

				> .posts
					> .post
						padding: 16px 8px 0 8px;
						word-break: break-word;

						&:first-child
							padding-top: 0;

						&:hover
							> .body
								> .actions
									opacity: 1;

						&[data-popularity='a']
							> .body
								> .text
									font-size: 1.5em;
									font-weight: bold;

						&[data-popularity='b']
							> .body
								> .text
									font-size: 1.25em;
									font-weight: bold;

						&[data-popularity='c']
							> .body
								> .text
									font-size: 1em;
									font-weight: bold;

						> header
							margin-bottom: 12px;

							.number
								display: inline;
								margin-right: 8px;
								color: #715D56;

							.name
								display: inline;
								margin: 0 8px 0 0;
								font-size: 1em;
								font-weight: bold;
								color: #FF9693;
								font-family: 'Proxima Nova Reg', "FOT-スーラ Pro M", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;

							.created-at
								display: inline;
								margin-right: 8px;
								font-size: 0.8em;
								color: #B3A19B;

							.id
								display: inline;
								opacity: 0.5;
								font-size: 0.7em;

						> .body
							> .text
								padding: 0 1em;
								color: #806358;

								.name
									// font-weight: bold;

									&:hover
										background: rgba(0, 0, 0, 0.1);

							> .actions
								opacity: 0;

								> button
									display: inline-block;
									-webkit-appearance: none;
									-moz-appearance: none;
									appearance: none;
									margin: 0;
									padding: 0;
									width: 42px;
									height: 42px;
									font-size: 1.1em;
									line-height: 32px;
									border: none;
									border-radius: 0;
									background: transparent;
									box-shadow: none;
									color: #ADA7A7;
									cursor: pointer;

									*
										pointer-events: none;

									&:hover
										color: #666;

									&:disabled
										opacity: 0.5;
										cursor: wait;

			> footer
				> .source
					display: block;
					margin-bottom: 8px;
